.login_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Helvetica";
    background-color: #000000;
}

.login_title {
    color: #ffffff;
    font-family: "Helvetica";
}

.login_title::selection {
    color: black;
    background: white;
}

.login_password_input {
    margin: 6px;
    padding: 10px;
    width: 200px;
    border-color: #000000;
    border-radius: 10px;
    background-color: #ffffff;
    font-family: "Helvetica";
}

.login_password_input::placeholder {
    color: black;
}

.login_password_input:focus {
    outline: none;
}

.login_password_input::selection {
    color: black;
}

.login_button {
    padding: 10px 20px;
    position: relative;
    margin-top: 16px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-family: "Helvetica";
    cursor: pointer;
    margin-right: 15px;
}

.login_button::selection {
    color: #fff;
}

.back_link {
    color: white;
    position: relative;
    margin-left: 15px;
}

.back_link:hover {
    color: white;
}

.back_link::selection {
    color: white;
}